<h3>{{ $title }}</h3>

<form method="post" action="ex3.php">

    <input type="hidden" name="cmd" value="{{ $cmd }}" >

    <input name="temperature">

    <input type="submit" value="Calculate"/>

</form>

